@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?khdzl5");
  src: url("../fonts/icomoon.eot?khdzl5#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?khdzl5") format("truetype"), url("../fonts/icomoon.woff?khdzl5") format("woff"), url("fonts/icomoon.svg?khdzl5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon"], [class*=" icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.field-name-field-ding-news-title-image .field-slideshow-wrapper,
.field-name-field-ding-event-title-image .field-slideshow-wrapper,
.field-name-field-ding-page-title-image .field-slideshow-wrapper {
  width: 100%;
  position: relative;
}
.field-name-field-ding-news-title-image .field-slideshow-controls,
.field-name-field-ding-event-title-image .field-slideshow-controls,
.field-name-field-ding-page-title-image .field-slideshow-controls {
  z-index: 10;
  width: 100%;
  display: none;
  position: absolute;
  top: 40%;
}
.field-name-field-ding-news-title-image .field-slideshow-controls a.prev,
.field-name-field-ding-event-title-image .field-slideshow-controls a.prev,
.field-name-field-ding-page-title-image .field-slideshow-controls a.prev {
  font-size: 0;
  float: left;
}
.field-name-field-ding-news-title-image .field-slideshow-controls a.prev.icon:before,
.field-name-field-ding-event-title-image .field-slideshow-controls a.prev.icon:before,
.field-name-field-ding-page-title-image .field-slideshow-controls a.prev.icon:before {
  content: "\e996";
  display: inline-block;
  font-size: 86px;
  margin-left: -5px;
}
.field-name-field-ding-news-title-image .field-slideshow-controls a.next,
.field-name-field-ding-event-title-image .field-slideshow-controls a.next,
.field-name-field-ding-page-title-image .field-slideshow-controls a.next {
  font-size: 0;
  float: right;
}
.field-name-field-ding-news-title-image .field-slideshow-controls a.next.icon:before,
.field-name-field-ding-event-title-image .field-slideshow-controls a.next.icon:before,
.field-name-field-ding-page-title-image .field-slideshow-controls a.next.icon:before {
  content: "\e995";
  display: inline-block;
  font-size: 86px;
  margin-right: -5px;
}
.field-name-field-ding-news-title-image .field-slideshow-caption-text,
.field-name-field-ding-event-title-image .field-slideshow-caption-text,
.field-name-field-ding-page-title-image .field-slideshow-caption-text {
  font-style: italic;
  font-size: 0.9em;
}

.page-node .pane-page-content .field-name-field-ding-news-title-image .field-item .field-slideshow,
.page-node .pane-page-content .field-name-field-ding-event-title-image .field-item .field-slideshow,
.page-node .pane-page-content .field-name-field-ding-page-title-image .field-item .field-slideshow {
  padding-bottom: 0 !important;
}
